<!DOCTYPE html>
<html>
<head>
	<title>Forms Page</title>
</head>
<body>
	<form>
	<label>Name:</label>
	<input type="text" name="name" placeholder="Enter Your Name" required>
	<br><br>
	<label>Email:</label>
	<input type="email" name="email" placeholder="Enter Your Email" required>
	<br><br>
	<label>DOB:</label>
	<input type="date" name="dob">
	<br><br>
	<label>Select Your Branch:</label>
	<select name='branch'>
		<option>ECE</option>
		<option>CSE</option>
		<option>EEE</option>
		<option>IT</option>
		
	</select>
	<br><br>
	<label>Select Your Gender:</label>
	<br>
	<input type="radio" name="gender" value="Male">Male<br>
	<input type="radio" name="gender" value="Female">Female<br>
	<br><br>
	<label>File:</label>
	<input type="file" name="file">
	<br><br>
	<input type="button" value="submit">
	
	</form>


</body>
</html>