<!DOCTYPE html>
<html>
<head>
	<title>MyPage</title>
</head>
<body>
<h1>Welcome to APSSDC Django Class</h1>
<h2>Welcome to APSSDC Django Class</h2>
<h3>Welcome to APSSDC Django Class</h3>
<h4>Welcome to APSSDC Django Class</h4>
<h5>Welcome to APSSDC Django Class</h5>
<h6>Welcome to APSSDC Django Class</h6>

<p>Welcome to APSSDC Django Class <br> This is Srinivas working in APSSDC </p>

<h1>List Examples</h1>

<ul>
	<li>JAVA</li>
	<li>Python</li>
	<li>PHP</li>
	<li>C++</li>
</ul>

<ol>
	<li>Django</li>
	<li>Flask</li>
	<li>Bottle</li>
	<li>Web2py</li>
</ol>

<dl>
	<dt>Languages</dt>
	<dd>Python</dd>
	<dd>Java</dd>
	<dd>PHP</dd>
	<dt>FramWorks</dt>
	<dd>Django</dd>
	<dd>Flask</dd>
	<dd>Bottle</dd>


</dl>

<a href="{% url 'table' %}">Table Page</a>

</body>
</html>