<!DOCTYPE html>
<html>
<head>
	<title>Table Page</title>
</head>
<body>
	<h2>Table Example</h2>
	<a href="{% url 'page' %}">MyPage</a>
	<center>
	<table border="1px">
		<thead>
			<thead>
				<th>SNO</th>
				<th>Name</th>
				<th>College</th>
				<th>Email</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Srinivas</td>
					<td>SACET</td>
					<td>@apssdc.in</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Prasanna</td>
					<td>GMRIT</td>
					<td>@gmail.com</td>
				</tr>


			</tbody>
		</thead>

	</table>
	</center>
</body>
</html>